.flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    align-content: stretch;
    gap: 678px;
}

.machop {
    padding: 16px;
    background-color: rgb(86, 235, 227);
}

.geodude {
    padding: 16px;
    background-color: beige;
}

.onix {
    padding: 16px;
    background-color: rgba(255, 220, 21, 0.904);
}